/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  background-image: url("../images/cover-image-dark.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  --font-title-color: #DB00FF;
  --theme-menu-color: #FF0070;
  --hidden-element: 1;
  --dark-text-color: #000028;
  --accent-color: #FF0070;
  --title-accent-color: #FF0070;
  --font-main-color: #F1B2CE;
  --shadow-link-color: #FF0070;
}

@media (prefers-color-scheme: dark) {
  .page {
    background-image: url("../images/cover-image-dark.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    --font-title-color: #DB00FF;
    --theme-menu-color: #FF0070;
    --hidden-element: 1;
    --dark-text-color: #000028;
    --accent-color: #FF0070;
    --title-accent-color: #FF0070;
    --font-main-color: #F1B2CE;
    --shadow-link-color: #FF0070;
  }
}



